*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
html{
    width: 100%;
    height: fit-content;
}
body{
    width: 100vw;
    overflow-x: hidden;
    height: fit-content;
}

footer{
    background-color: rgb(5, 174, 160);
    height: 3.5rem;
}
.searchOperation{
    border-bottom: 2px solid rgba(0, 0, 0, 0.444);
    height: fit-content;
    display: grid;
    place-items: center;
}
