.searchBar{
    background-color: white;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding: 0.75rem 1rem;
}
.searchInput,.suggestionBox{
    width: 28vw;
}
.searchInput{
    padding: 0.15rem 0.5rem;
}
.suggestionBox{
    position: absolute;
    z-index: 5;
    height: fit-content;
    background: rgb(246, 246, 246);
}
.suggestionBox-hidden{
    display: none;
}
.optionField{
    padding: 0.5rem;
    border-bottom: 1px solid rgb(85, 85, 85);
    cursor: pointer;
}
.buttonCss{
    padding: 0.15rem 1rem;
}
.buttonHolderSeachBox{
    width: fit-content;
}
.pageName{
    padding: 0rem 1rem;
    position: absolute;
    left: 0;
}