.body-wrapper{
    padding: 0.5rem 0.5rem;
    height: calc(100vh - 10.8rem);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between
}
/* container */
.gridContainer{
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gridContainer,.gridDataHolder{
    -ms-overflow-style: none;  /* For IE and Edge */
}
.gridContainer::-webkit-scrollbar,.gridDataHolder::-webkit-scrollbar {
    width: 2px;
}
.gridContainer::-webkit-scrollbar-thumb,.gridDataHolder::-webkit-scrollbar-thumb {
    background-color: rgba(34, 34, 34, 0.563);  /* color of the thumb */
    border-radius: 10px;  /* round the thumb edges */
}
  
/* button holder */
.buttonHolder{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.25rem 4rem;
    /* height: 8%; */
    height: fit-content;
    border: 1px solid black;
}
.buttonHolder button{
    padding: 0.15rem 1rem;
}
/* gridData */


.gridDataHolder{
    height: 83%;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}
table{
    width: 100%;
   border-collapse: collapse;
}
th,td{
    padding: 0.25rem 0rem;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}
td{
    font-size: 14.5px;
    overflow-x: hidden;
}
.checkBox{
    width: 5%;
}
.medicineName{
    width: 25%;
}
.medicineUse{
    width: 20%;
}
.medicineForm{
    width: 10%;
}
.medicineManufacturer{
    width: 24%;
}
.medicinePrice,.medicineQuantity{
    width: 8%;
}

/* pagination */
.paginationHolder{
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
    border: 1px solid black;
    padding: 0.25rem 0rem;
}
.paginationContent{
    width: fit-content;
    display: flex;
    gap: 0.5rem;
}
.paginationIcon{
    border: 1px solid black;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.paginationIcon img{
    width: 1.5rem;
}
.pageInformation{
    display: flex;
    align-items: center;
}
.pageNoHolder{
    width: 3rem;
}