<form>
    <div class="delete-button"><button type="button" class="buttonStyle buttonColor-delete">Delete</button></div>
    <input class="deleteProductId" type="hidden" value="<%= product._id %>">
</form>