
<footer>
    <link rel="stylesheet" href="/styles/sellerCss/sellerFooter.css">
    <div class="footer-wrapper" onclick="window.location.href = `<%=url%>seller/listed-products`;">
        <div class="item-container">
            <div class="footerItemsLogo"><img src="/images/home.png" alt="account-image" ></div>
            <fiv class="text">Home</fiv>
        </div>
        <div class="item-container" onclick="window.location.href = `<%=url%>seller/add-product`;">
            <div class="footerItemsLogo"><img src="/images/add-product.png" alt="account-image" ></div>
            <fiv class="text">Add product</fiv>
        </div>
        <div class="item-container">
            <div class="footerItemsLogo"><img src="/images/bulk-add-product.png" alt="account-image"></div>
            <fiv class="text">Add Bulk Products</fiv>
        </div>
        <div class="item-container">
            <div class="footerItemsLogo"><img src="/images/active-orders.png" alt="account-image"></div>
            <fiv class="text">Active orders</fiv>
        </div>
        <div class="item-container">
            <div class="footerItemsLogo"><img src="/images/shopping-cart.png" alt="account-image"></div>
            <fiv class="text">Create Order</fiv>
        </div>
        

        <div class="item-container">
            <div class="footerItemsLogo">
                <div class="notificationNumber layover-hidden">&nbsp;<span id="notificationNumber">2</span>&nbsp;</div>
                <img src="/images/notification.png" alt="account-image">
            </div>
            <fiv class="text">Notifications</fiv>
        </div>
        <!-- <div class="item-container">
            <div class="footerItemsLogo"><img src="/images/user.png" alt="account-image"></div>
            <fiv class="text">Account</fiv>
        </div> -->
    </div>
</footer>
</html>
<script>
    const NumberOfNotifications = document.querySelector('#notificationNumber');
    const notificationNumberContainer = document.querySelector('.notificationNumber');
    window.addEventListener('load',(e)=>{
        e.preventDefault();
        if(NumberOfNotifications.textContent!=false && NumberOfNotifications.textContent!=0){
            notificationNumberContainer.classList.remove('layover-hidden');
        }
    })
</script>