.body-wrapper{
    width: 100%;
    height: 88vh;
    overflow-y: hidden;
    display: grid;
    place-items: center;
    padding: 0.5rem 0.25rem;
    background-color: black;
}
.pageHeading{
    color: white;
    text-align: center;
}
.textHolder{
    /* to make the colour of input field white which are coming from inputField.ejs */
    color: white;
}
.formHolder{
    box-shadow: 1px 1px 5px 2px inset rgb(174, 174, 174);
    border-radius: 0.5rem;
    width: 95%;
    padding: 1rem 0.5rem;
    margin-left: 5px;
}
.hidden-customerSignup{
    display: none;
}
@media screen and (min-width:901px) {
    .formHolder{
        width: 33rem;
    }
    .pageHeading{
        font-size: 1.5rem;
    }
}
@media screen and (min-width:375px) and (max-width:900px) {
    
    /* .body-wrapper{
        width: 100vw;
    } */
    .pageHeading{
        width: 100%;
        font-size: 1.25rem;
    }
    .formHolder{
        width: max(22rem,55vw);
    }
    
}
