.messageBox{
    display: grid;
    place-items: center;
    padding: 2rem;
    height: 4rem;
}
.hidden{
    display: none;
}
.page-heading{
    padding: 1rem;
    font-size: 2rem;
}
.form-wrapper{
    display: grid;
    place-items: center;
    width: 100vw;
    height: fit-content;
    border: 2px solid magenta;
    padding: 3rem 2rem;
}
.fieldHolder,.email-otp-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
form{
    width: 50vw;
    border: 1px solid black;
    padding: 2rem 4rem;
}
.email-validation{
    border: 1px solid blue;
}