.body-wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.content-container{
    width: 40vw;
    height: fit-content;
    border: 2px solid black;
    display: grid;
    place-items: center;
    padding: 1rem 2rem;
}
.form-container{
    width: 35vw;
    height: fit-content;
    padding: 1rem 2rem;
}
.form-header{
    display: grid;
    place-content: center;
}
.form{
    padding-top:1rem ;
}
.form div{
    margin-bottom: 0.5rem;
}
.fieldHolder{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0.5rem;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 0.75rem 3rem;
}
.signupContainer{
    border-top: 3px solid black;
    padding: 0.75rem 0.5rem;
}
.messageBox{
    width: 100vw;
    position: absolute;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-evenly;
}
.message{
    width: fit-content;
    border: 2px solid red;
}
