.messageBox{
    width: 100%;
}
.message{
    background-color: white;
    text-align: center;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 1.25rem;
    padding: 0.25rem;
}
.message-hidden{
    display: none;
}