.messageBox{
    width: 100%;
}
.message{
    background-color: white;
    text-align: center;
    z-index: 8;
    position: fixed;
    width: 100%;
    top: 0;
}
.message-hidden{
    display: none;
}