.headerWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-icon,.nav-icon img{
    width: 2rem;
}
.logo img{
    width: 6rem;
}
.nav-items{
    display: flex;
    gap: 0rem 0.5rem;

    align-items: center;
}
.navbar-wrapper{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    margin: 0rem 1rem;
}
.navbar-wrapper:hover{
    cursor: pointer;
}
.mobile-view-icon{
    display: none;
}