.hidden-sellerSignup{
    display: none;
}
.body-wrapper{
    width: 100vw;
    min-height: 87vh;
    background: black;
}
.formWrapper{
    width: 100vw;
    display: grid;
    place-items: center;
    height: fit-content;
    padding: 2rem 1rem;
}
.textHolder,legend{
    color: white;
}
.formView{
    min-height: 50vh;
    display: grid;
    place-items: center;
}
fieldset{
    width: 90%;
}
.formViewBtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0rem;
    flex-grow: 1;
}
.sellerFormBtn img{
    width: 2.5rem;
    flex-grow: 1;
    cursor: pointer;
}
.formPageHidden{
    display: none;
}
.formBtn{
    padding: 1rem 0rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.navigationButtonHidden{
    display: none;
}
.storeLocation{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    flex-grow: 1;
}
.storeLocation div{
    flex-grow: 1;
}
.storeLocationTextHolder{
    color: white;
}
.stateSelection{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0.5rem;
}
.stateSelection .textHolder{
    width: 30%;
}
.selectField{
    width: 62%;
}
select{
    width: 100%;
}

.availableContentHolder{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0.5rem 0.25rem;
}
.availableContentHolder div{
    text-align: center;
}
.checkboxHolder{
    width: 15%;
}
.dayName{
    width: 25%;
}
.openTime,.closeTime{
    width: 30%;
}
.openTime input, .closeTime input{
    width: 80%;
}
.headerHolder{
    padding: 1rem 0.25rem;
    border-bottom: 2px solid grey;
}
.heading{
    display: grid;
    place-items: center;
    color: white;
}
.heading p{
    font-size: 14px;
}
#seller-form1{
    height: fit-content;
}
@media screen and (min-width:901px) {
    #seller-form1{
        width: 35rem;
    }
    .textHolder{
        font-size: 15px;
    }
}
@media screen and (min-width:375px) and (max-width:900px) {
    #seller-form1{
        width: max(22.5rem,60vw);
    }
}
@media screen and (max-width:375px) {
    .formView{
        width: 96%;
    }
    fieldset{
        width: 100%;
    }
    #seller-form1{
        width: 95vw;
    }
}