<%- include('./customerUtils/starter.ejs') %>

</head>
<%- include('./customerUtils/topHeader.ejs') %>
<body>
    <link rel="stylesheet" href="/styles/customerCss/customerHomePage.css">
    <div  class="sellerHomePage">
        <div class="homePageContentHolder">
    
        </div>
        <div class="navigationBarContentHolder navdisplay">
    
        </div>
    </div>
    <script src="/scripts/customer/headerScript.js"></script>
</body>
<%- include('./customerUtils/footer.ejs') %>