<header class="header">
    <div class="logoHolder">
        <img src="/images/logo.png" alt="logo-img">
    </div>
    <div class="moreFeatureBtnHolder">
        <div class="menuBtnHolder featureBtnCss"><img src="/images/menu.png" alt="menubtn"></div>
        <div class="closeBtnHolder featureBtnCss featureBtnHidden"><img src="/images/close.png" alt="closeBtn"></div>
    </div>
    <script src="/scripts/customer/headerScript.js"></script>
</header>