
<link rel="stylesheet" href="/styles/customerCss/header.css">
<header class="header">
    <div class="logoHolder">
        <img src="/images/logo.png" alt="logo-img">
        <div class="nameContainer">
            <div class="name"><h3>Medisure</h3></div>
            <div class="description">Right Choice for your medicine</div>
        </div>
    </div>
</header>