

<header class="header">
    <!-- Place to store Logo and Logout Button -->
    <div class="headerWrapper">
        <div class="logo"><img src="/images/logo.png" alt="Logo image"></div>
        <div class="navbar-wrapper">
            <div class="cart-wrapper nav-items">
                <div class="shop-icon nav-icon"><img src="/images/shopping-cart.png" alt="Shop icon"></div>
                <div class="feature-name">Cart</div>
            </div>
            <div class="order-wrapper nav-items">
                <div class="order-icon nav-icon"><img src="/images/order-delivery.png" alt="Shop icon"></div>
                <div class="feature-name">Orders</div>
            </div>
            <div class="profile-wrapper nav-items">
                <div class="profile-icon nav-icon"><img src="/images/user.png" alt="User icon"></div>
                <div class="feature-name">Profile</div>
            </div>
        </div>
        <div class="mobile-view-icon nav-icon nav-items">
            <div class="hamburger-menu nav-icon"><img src="/images/menu.png" alt=""></div>
            <div class="cancel-icon nav-icon"><img src="/images/close.png" alt=""></div>
        </div>
        <script src="/scripts/responsive-navbar.js"></script>

    </div>
</header>