<link rel="stylesheet" href="/styles/sellerCss/searchBox.css">
<div class="pageName"><b><%= pageTitle %></b></div>
<div class="searchBar">
    <div class="searchText">Search Here</div>
    <div class="searchBox">
        <input type="text" class="searchInput">
        <input type="hidden" class="medicineId" value="">
        <div class="suggestionBox suggestionBox-hidden"></div>
    </div>
    <div class="buttonHolderSearchBox">
        <% if (buttonsToRender=='Seller/sellerHomePage') { %>
            <button class="searchBtn buttonCss" type="button">Search</button>
            <button class="getAllProductBtn buttonCss" style="margin-left: 2rem;" type="button">Show All Products</button>
        <%}else if(buttonsToRender=='Seller/addProductPage'){%>
            <button class="addBtn buttonCss" type="button">Add</button>
        <%}else if(buttonsToRender=='Seller/bulkUploadPage'){%>
            <button class="addBtn buttonCss" type="button">Add</button>
            <button class="saveAllButton buttonCss" type="button">Save All</button>
        <%}else if(buttonsToRender=='Customer/HomePage'){%>
            <button class="searchBtn buttonCss" type="button">Search</button>
        <% }else{ %> 
            <button class="addBtn buttonCss" type="button">Add</button>
        <%}%>
    </div>
</div>
<script>
    // this is common js for any page which uses searchBox
    const searchInputField = document.querySelector('.searchInput');
    const suggesstions = document.querySelector('.suggestionBox');
    const medicineIdValue = document.querySelector('.medicineId');

   
    // copy suggestion text to input field
    suggesstions.addEventListener('click',(e)=>{
        searchInputField.value = e.target.textContent;
        medicineIdValue.value = e.target.value;
        suggesstions.classList.add('suggestionBox-hidden');
    });
    // show suggesstionBox if you click on input field to reselect option
    searchInputField.addEventListener('click',(e)=>{
        //load suggesstion data comes from each page's ejs file. mention loadSuggestionData according to the functionality of each page
        if(searchInputField.value.length>=1){
            loadSuggestionData('');
            suggesstions.classList.remove('suggestionBox-hidden');
        }
    });
    // hide suggesstion when clicked outside it
    window.addEventListener('click',(e)=>{
        if(e.target.getAttribute('class')!='searchInput' && e.target.getAttribute('class')!='optionField'){
            suggesstions.classList.add('suggestionBox-hidden');
        }
    })
</script>