<link rel="stylesheet" href="/styles/sellerCss/searchBox.css">
<div class="pageName"><h2><%= pageTitle %></h2></div>
<div class="searchBar">
    <div class="searchText">Search Here</div>
    <div class="searchBox">
        <input type="text" class="searchInput">
        <input type="hidden" class="medicineId" value="">
        <div class="suggestionBox suggestionBox-hidden"></div>
    </div>
    <div class="buttonHolderSearchBox">
        <% if (button!='Seller/addProductPage') { %>
            <button class="searchBtn buttonCss" type="button">Search</button>
        <% }else{ %> 
            <button class="addBtn buttonCss" type="button">Add</button>
        <%}%>
    </div>
</div>
<script>
    // this is common js for any page which uses searchBox
    const searchInputField = document.querySelector('.searchInput');
    const suggesstions = document.querySelector('.suggestionBox');
    const medicineIdValue = document.querySelector('.medicineId');
    var medicineDataCacheOrDB;
    searchInputField.addEventListener('input',async(e)=>{
        const val = String(searchInputField.value);
        if(val.length>=3){
            // make a API call to get suggesstions
            const response = await fetch('<%=url%>utils/searchProduct',{
                method:'POST',
                headers : { 'Content-Type': 'application/json' },
                body:JSON.stringify({
                    medicineName: val,
                }),
            });
            const result = await response.json();
            if(result.success){
                //get data and place it in dropDown item
                suggesstions.classList.remove('suggestionBox-hidden');
                suggesstions.innerHTML = '';
                dropdownItemsNumber = result.data.length;
                medicineDataCacheOrDB = result.data;
                result.data.forEach((item,i) => {
                    const option = document.createElement('option');
                    option.textContent = item.nameOfMedicine;
                    option.value = item.productId;
                    option.classList.add('optionField');
                    option.dataset.navigateoption = i;
                    suggesstions.appendChild(option);
                });
            }else{
                //display error message
                message.textContent = result.message;
                message.classList.remove('message-hidden');
                setTimeout(()=>{
                    message.classList.add('message-hidden');
                },3000);
            }
        }
    });
    // copy suggestion text to input field
    suggesstions.addEventListener('click',(e)=>{
        console.log(e.target.textContent);
        searchInputField.value = e.target.textContent;
        console.log(e.target.textContent,e.target.value);
        medicineIdValue.value = e.target.value;
        suggesstions.classList.add('suggestionBox-hidden');
    });
    // show suggesstionBox if you click on input field to reselect option
    searchInputField.addEventListener('click',(e)=>{
        suggesstions.classList.remove('suggestionBox-hidden');
    });
    // hide suggesstion when clicked outside it
    window.addEventListener('click',(e)=>{
        if(e.target.getAttribute('class')!='searchInput' && e.target.getAttribute('class')!='optionField'){
            suggesstions.classList.add('suggestionBox-hidden');
        }
    })
</script>
