<style>
    .searchBar{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45vw;
        padding: 0.75rem 1rem;
    }
    .searchInput,.suggestionBox{
        width: 28vw;
    }
    .searchInput{
        padding: 0.15rem 0.5rem;
    }
    .suggestionBox{
        position: absolute;
        z-index: 5;
        height: fit-content;
        background: rgb(246, 246, 246);
    }
    .suggestionBox-hidden{
        display: none;
    }
    .optionField{
        padding: 0.5rem;
        border-bottom: 1px solid rgb(85, 85, 85);
        cursor: pointer;
    }
    .buttonCss{
        padding: 0.15rem 1rem;
    }
</style>
<div class="searchBar">
    <div class="searchText">Search Here</div>
    <div class="searchBox">
        <input type="text" class="searchInput">
        <div class="suggestionBox suggestionBox-hidden"></div>
    </div>
    <div class="buttonHolder">
        <% if (button!='Seller/addProductPage') { %>
            <button class="searchBtn buttonCss" type="button">Search</button>
        <% }else{ %> 
            <button class="addBtn buttonCss" type="button">Add</button>
        <%}%>
    </div>
</div>
<script>
    // this is common js for any page which uses searchBox
    const searchInputField = document.querySelector('.searchInput');
    const suggesstions = document.querySelector('.suggestionBox');
    searchInputField.addEventListener('input',async(e)=>{
        const val = String(searchInputField.value);
        if(val.length>=3){
            // make a API call to get suggesstions
            const response = await fetch('<%=url%>utils/searchProduct',{
                method:'POST',
                headers : { 'Content-Type': 'application/json' },
                body:JSON.stringify({
                    medicineName: val,
                }),
            });
            const result = await response.json();
            if(result.success){
                //get data and place it in dropDown item
                suggesstions.classList.remove('suggestionBox-hidden');
                suggesstions.innerHTML = '';
                dropdownItemsNumber = result.data.length;
                result.data.forEach((item,i) => {
                    const option = document.createElement('option');
                    option.textContent = item.nameOfMedicine;
                    option.value = item.productId;
                    option.classList.add('optionField');
                    option.dataset.navigateoption = i;
                    suggesstions.appendChild(option);
                });
            }else{
                //display error message
                message.textContent = result.message;
                message.classList.remove('message-hidden');
                setTimeout(()=>{
                    message.classList.add('message-hidden');
                },3000);
            }
        }
    });
    // copy suggestion text to input field
    suggesstions.addEventListener('click',(e)=>{
        console.log(e.target.textContent);
        searchInputField.value = e.target.textContent;
        suggesstions.classList.add('suggestionBox-hidden');
    });
    // show suggesstionBox if you click on input field to reselect option
    searchInputField.addEventListener('click',(e)=>{
        suggesstions.classList.remove('suggestionBox-hidden');
    });
    // hide suggesstion when clicked outside it
    window.addEventListener('click',(e)=>{
        if(e.target.getAttribute('class')!='searchInput' && e.target.getAttribute('class')!='optionField'){
            suggesstions.classList.add('suggestionBox-hidden');
        }
    })
</script>

<% if (path=='Seller/addProductPage') { %>
    <!-- scipt to add product in inventory -->
<% }else if(path=='Seller/sellerHomePage'){ %>
    <!-- script to see specific product listed by shop -->
<%}else if(path=="something more"){%>
    <!-- TBD -->
<%}%>